/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.container {
  height: 100vh !important;
}
.form {
  min-width: 460px;
  width: 35vw;
  max-width: 600px !important;
  border: 1px solid #ddd;
}
